.spaceBtn-left {
    margin-left: 10px !important;
}

.text {
    color: #fff;
}

select.form-control[size],
select.form-control[multiple] {
    height: 150px;
}

.chart-area {
    height: 100% !important;
}