<!-- More Image Compressor -->
<section class="awesome-feature-area section_padding_0_50 clearfix" id="features">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Heading Text -->
                <div class="text-center">
                    <h2 class="text-primary">More Image Compressor</h2>
                    <div class="line-shape mb-4"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4">
                <a href="" routerLink="/compress-image/compress-jpg">Compress JPG Image Online Free</a><br />
                <a href="" routerLink="/compress-image/compress-bmp">Compress BMP Image Online Free</a><br />
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <a href="" routerLink="/compress-image/compress-png">Compress PNG Image Online Free</a><br />
                <a href="" routerLink="/compress-image/compress-jpeg">Compress JPEG Image Online Free</a>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <a href="" routerLink="/compress-image/compress-tiff">Compress TIFF Image Online Free</a><br />
                <a href="" routerLink="/compress-image/compress-gif">Compress GIF Image Online Free</a>
            </div>
        </div>
    </div>
</section>